---
layout: default 
title: Blog
---
<div class="container">
	<article id="main">
<header>
    <h1 class="blog-title">El blog de <br/><br/> Space Apps Zaragoza</h1>  
</header>
{% for post in site.posts limit:20 %}
<!--<a href="{{ site.baseurl }}"><p class="blog-come-back">Volver a la Web</p></a>-->
{% if post.categories.size == 0 %}
<div class="post-div">
<h2 class="post-title">  
<!--<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>-->
{{ post.title }}
</h2>  
<span class="publish"> Publicado: {{ post.date | date: "%d-%m-%Y"}}</span>  
<p class="post-body">  
    {{ post.excerpt }}
</p>
</div>
<hr />
{% endif %}
{% endfor %}
</article>
</div>