---
layout: default
title: Cervantes
---
<div class="container">
<h1 class="cervantes-title">Homenaje a <br/><br/> Miguel de Cervantes</h1>
<h3 class="cervantes-subtitle">por <a href="http://sazgz.com">Space Apps Zaragoza</a></h3>
<p class="cervantes-subsubtitle">(<a href="https://twitter.com/spaceappszgz">@spaceappszgz</a>)</p>
{% for post in site.posts limit:15 %}
{% if post.categories contains 'cervantes' %}
<div class="post-div">
<h2 class="post-title">  
{{ post.title }}
</h2>  
<p class="post-body">  
    {{ post.excerpt }}
</p>
</div>
<hr />
{% endif %}
{% endfor %}
</div>